
body {
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-size: cover;
}
.logo {
  width: 150px;
  padding: 20px;
}
.productos {
  padding: 50px;
}
.producto {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}
button {
  margin: 5px;
  padding: 10px 20px;
}
